# Application
APP_NAME=project_name_placeholder
APP_DEBUG=0
APP_RUNTIME=Runtime\RoadRunnerSymfonyNyholm\Runtime

# PostgreSQL
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password

# RoadRunner
APP_NUM_WORKERS=1
APP_MAX_JOBS=100
APP_MAX_WORKER_MEMORY=128
APP_DATABASE_DSN=postgresql://my_user:my_password@postgresql:5432/project_name_placeholder