# Application
APP_NAME=project-name
APP_ENV=prod
APP_DEBUG=0
APP_RUNTIME=Runtime\RoadRunnerSymfonyNyholm\Runtime

# MySQL
MYSQL_ALLOW_EMPTY_PASSWORD=yes

# ROADRUNNER
APP_NUM_WORKERS=1
APP_MAX_JOBS=100
APP_MAX_WORKER_MEMORY=128
APP_DATABASE_DSN=postgresql://posters:integration@postgresql:5432/music_posters