# Application
APP_NAME=project_name_placeholder
APP_DEBUG=0
APP_RUNTIME=Runtime\RoadRunnerSymfonyNyholm\Runtime

# MySQL
MYSQL_ROOT_PASSWORD=my_password

# RoadRunner
APP_NUM_WORKERS=1
APP_MAX_JOBS=100
APP_MAX_WORKER_MEMORY=128
APP_DATABASE_DSN=mysql://root:my_password@mysql:3306/project_name_placeholder