# Application
APP_NAME=project_name_placeholder
APP_ENV=dev
APP_SECRET=
APP_MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
APP_DATABASE_URL=mysql://my_user:my_password@mysql:3306/my_app?serverVersion=9&charset=utf8
APP_DEBUG=1
APP_RUNTIME=Runtime\RoadRunnerSymfonyNyholm\Runtime
APP_LOG_LEVEL=info
APP_DEFAULT_URI=http://localhost

# MySQL
MYSQL_USER=my_user
MYSQL_PASSWORD=my_password
MYSQL_DATABASE=my_app

# RoadRunner
APP_NUM_WORKERS=1
APP_MAX_JOBS=100
APP_MAX_WORKER_MEMORY=128